<head>
    <link rel="stylesheet" href="/css/admin-base.css ">
    <link rel="stylesheet" href="/css/admin-main.css ">
</head>

<header class="header">
    <div class="header__grid">

        <nav class="header__navbar" id="navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item"><a class="header__navbar-item-link link-home" href="/admin">Amin</a></li>
                <li class="header__navbar-item"><a class="header__navbar-item-link link-item" href="/admin/laptop">Laptop</a></li>
                <li class="header__navbar-item"><a class="header__navbar-item-link link-item" href="/admin/order">Đơn Hàng</a></li>
            </ul>
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item-right"><a class="header__navbar-item-link link-login"
                        href="/admin/logout"><i class="fas fa-sign-in-alt" style="margin-top: 0px"></i> Đăng xuất</a></li>
            </ul>
        </nav>
    </div>
</header>