<link rel="stylesheet" href="/css/header.css">

<header class="header">
    <div class="top-bar">
        <div class="arrow-button">
            <div class="prev-arrow">
                <a href="#">
                    <i class="fas fa-arrow-left arrow-icon"></i>
                </a>
            </div>
            <div class="next-arrow">
                <a href="#">
                    <i class="fas fa-arrow-right arrow-icon"></i>
                </a>
            </div>
            <div class="search-bar">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <form action="#" class="search-form">
                    <input type="text" placeholder="Nhập tên bài hát, nghệ sĩ hoặc MV..." id="search"
                        autocomplete="off">
                </form>
            </div>
        </div>

        <div class="avatar">
            <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/f/e/9/8/fe9875941d98fbbcb8aedc8960ccbc94.jpg"
                alt="#3T2D">
        </div>
    </div>
</header>