<head>
    <script src="https://kit.fontawesome.com/501bdd9c6f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <title>Zing mp3</title>
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-wrapper">
            <nav class="navbar">
                <div class="navbar-brand logo">
                    <a style="font-family: Cabin Sketch,cursive;" href="#">#3T2D</a>
                </div>
            </nav>
            <nav class="navbar">
                <ul class="navbar-menu">
                    <li onclick="loadComponent('discover')" class="navbar-item">
                        <a href="#">
                            <i class="navicon fas fa-compact-disc"></i>
                            <span>Khám phá</span>
                        </a>
                    </li>
                    <li onclick="loadComponent('chart');" class="navbar-item">
                        <a href="#">
                            <i class="navicon fas fa-chart-line"></i>
                            <span>Chart</span>
                        </a>
                    </li>
                    <li onclick="loadComponent('newReleaseChart');" class="navbar-item">
                        <a href="#">
                            <i class="navicon fas fa-music"></i>    
                            <span>Mới phát hành</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="#">
                            <i class="navicon fas fa-th-large"></i>
                            <span>Chủ đề</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="#">
                            <i class="navicon far fa-star"></i>
                            <span>Top 100</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="navbar midmenu">
                <hr>
                <div class="title">THƯ VIỆN</div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="#">
                            <i class="navicon fas fa-icons"></i>
                            <span>Bài hát</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="#">
                            <i class="navicon far fa-play-circle"></i>
                            <span>Playlist</span>
                        </a>
                    </li>
                </ul>
                
            </nav>
            <div class="upload-music">
                <hr>
                <a href="#">
                    <span class="special-icon">+</span>
                    <span>Tạo playlist mới</span>
                </a>
            </div>
        </div>
    </aside>
</body>
