<link rel="stylesheet" href="/player/APlayer.min.css">
<link rel="stylesheet" href="/css/player.css">

<div class="" style="width: 96%; margin: 0 auto;">
    <div id="aplayer" class="myCssPlayer"></div>
</div>
<div id="autoPlayNext" data-id="ZWDAAU8Z"></div>

<i class="fas fa-chevron-circle-up player-up"></i>

<script src="/player/APlayer.min.js"></script>
<script src="/js/player.js"></script>
