<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <script src="/js/vendor/jquery.min.js"></script>
</head>

<body>
    {{>admin-header}}
    <div class="grid">
        {{{body}}}
    </div>

    {{!-- <script type="text/javascript" src="/js/fix-menu.js"></script> --}}
    <script src="/js/vendor/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
</body>

</html>