<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>

</head>

<body>

    {{>header}}
    {{!-- <div class="c" style="display: flex;">
        {{>menu}}
        {{>container}}
    </div> --}}
    <div class="grid">
        {{{body}}}
    </div>
    {{!-- {{>player}} --}}
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
</body>

</html>